
                body {
                    background-color:rgb(214, 211, 211) ;
                }

                hr {
                    border-style: dotted none none ;
                    border-width: 5px;
                    border-color: grey;
                    width: 10%;
                }

                img {
                    border-radius: 30px;
                    border-style: solid;
                    border-width: 8px;
                    border-color: grey;
                }

                h1, h3 {
                    color: rgb(15, 116, 170);

                }

                h2 {
                    color: rgb(213, 38, 67);
                }